/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ekiline-blocks-ekiline-accordion {
	border: 1px dashed #c8c8c8;
	border-radius: 2px !important;
}

.wp-block-ekiline-blocks-ekiline-accordion.is-selected,
.wp-block-ekiline-blocks-ekiline-accordion.has-child-selected {
	border: 1px solid #000000;
}

.editor-accordion-header{
	border-bottom: 1px solid #c8c8c8;
	padding-top: 10px;
	padding-bottom: 10px;
}
.editor-accordion-body{
	padding-top: 10px;
	padding-bottom: 10px;
}
.editor-accordion-footer{
	border-top: 1px solid #c8c8c8;
	padding-top: 10px;
	padding-bottom: 10px;
}

.editor-accordion-route:not(.has-anchor){
	background-color:#000;
	color: #fff;
	padding: 5px;
	margin: 0px;
}

.editor-accordion-route.has-anchor{
	background-color: #efefef;
}
.editor-accordion-route pre{
	margin-bottom: 0px !important;
	padding: 10px;
}