/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-ekiline-blocks-ekiline-collapse {
	border: 1px dashed #c8c8c8;
	border-radius: 2px !important;
}

.wp-block-ekiline-blocks-ekiline-collapse.is-selected,
.wp-block-ekiline-blocks-ekiline-collapse.has-child-selected {
	border: 1px solid #000000;
}

.wp-block-ekiline-blocks-ekiline-collapse .item-title{
	border-bottom: 1px dashed #c8c8c8;
	margin-bottom:10px;
	padding: 5px;
}

.wp-block-ekiline-blocks-ekiline-collapse .child-item-collapse.is-selected .item-title{
	border-bottom: 1px solid #c8c8c8;
}


.editor-collapse-route:not(.has-anchor){
	background-color:#000;
	color: #fff;
	padding: 5px;
	margin: 0px;
}

.editor-collapse-route.has-anchor{
	background-color: #efefef;
}
.editor-collapse-route pre{
	margin-bottom: 0px !important;
	padding: 10px;
}