/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ekiline-blocks-ekiline-progress {
	border: 1px dashed #e9ecef;
	padding: 10px;
}

.wp-block-ekiline-blocks-ekiline-progress.has-child-selected {
	border: 1px solid #000000;
}

.wp-block-ekiline-blocks-ekiline-progress .block-editor-inner-blocks{
	background-color: #e9ecef;
	height:100%;
}

.wp-block-ekiline-blocks-ekiline-progress .block-editor-block-list__layout{
	display: flex;
	justify-content: flex-start;
	align-content: stretch !important;
	height:100%;
	overflow: hidden;
}

.wp-block-ekiline-blocks-ekiline-progress .block-editor-block-list__layout > .wp-block {
	border-right: 1px solid #c9c9c9;
	background-color: rgba(173, 174, 175, 0.638);
	margin: 0px !important;
	max-width: 100% !important;
  }

  .wp-block-ekiline-blocks-ekiline-progress .block-editor-block-list__layout > .wp-block > .wp-block.item-progress{
	margin: 0px;
	width: 100% !important;
	max-width: 100%;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .wp-block-ekiline-blocks-ekiline-progress .block-editor-block-list__layout > .wp-block > .wp-block.item-progress.is-selected{
	border: 1px solid #000;
  }

  .wp-block-ekiline-blocks-ekiline-progress .block-editor-block-list__layout > .wp-block > .wp-block.item-progress *{
	  text-align: center;
	  margin: 0;
  }
