/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ekiline-blocks-ekiline-tabs {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.tabs-wrapper .wp-block{
	max-width: 100% !important;
	margin-top: 0px !important;
}
.tabs-wrapper .wp-block:not(.wp-block.tab-content){
	margin-bottom: 0px !important;
}
.tabs-navbar .wp-block:not(.tab-link){
	margin-right:1px;
}

.tabs-navbar .block-editor-inner-blocks .block-editor-block-list__layout{
	display: flex;
}
.tabs-navbar .wp-block{
	margin-left: 0px;
	margin-right: 0px;
}

/** Estilos de grid **/

.editor-styles-wrapper .tab-link{border:1px solid #000000;border-radius:2px;padding:4px 6px;}
.editor-styles-wrapper .tab-content{border-bottom:1px dashed #000000;border-radius:2px;padding:10px 20px 20px;}
.editor-styles-wrapper .tab-content::after{content:"";border-left:1px dashed #000;}

